.game {
  width: 100vw;
  height: 100vh;
  background: url('src/img/blackboard.jpg');
  display: grid;
  place-items: center;
  &__gameView {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__infoBoard {
    font-size: 5rem;
    margin-bottom: 5rem;
  }
  &__startView {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-size: 10rem;
    margin-bottom: 5rem;
  }
}
