* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Eraser', arial;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: url(/blackboard.jpg);
  display: grid;
  place-items: center;
}

.board {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
}

.board__item:nth-child(1),
.board__item:nth-child(2),
.board__item:nth-child(4),
.board__item:nth-child(5) {
  border-right: solid 5px #ccc;
  border-bottom: solid 5px #ccc;
}

.board__item:nth-child(2) {
  border-left: solid 5px #ccc;
}

.board__item:nth-child(3),
.board__item:nth-child(6) {
  border-left: solid 5px #ccc;
  border-bottom: solid 5px #ccc;
}

.board__item:nth-child(4),
.board__item:nth-child(6),
.board__item:nth-child(7) {
  border-top: solid 5px #ccc;
}

.board__item:nth-child(5),
.board__item:nth-child(8),
.board__item:nth-child(9) {
  border-left: solid 5px #ccc;
  border-top: solid 5px #ccc;
}

.board__item:nth-child(7),
.board__item:nth-child(8) {
  border-right: solid 5px #ccc;
}

.board__item {
  display: grid;
  place-items: center;
  font-size: 120px;
  color: white;
}

.board__item:hover {
  cursor: pointer;
}

.infoBoard {
  color: white;
  font-size: 2em;
}

.reset {
  padding: 10px 20px;
  background-color: #ccc;
  border: none;
  font-size: 1.5em;
  border-radius: 5px;
}

.reset:hover {
  font-weight: bold;
  background-color: #ddd;
  cursor: pointer;
}

.offscreen {
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  position: absolute;
}

.startWindow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: white;
  font-size: 5em;
  margin-bottom: 50px;
}
